.env
node_modules
.venv
__pycache__/
*.pyc
.DS_Store
.vscode
.idea
.ipynb_checkpoints
ai_engine/fine_tuned_roberta.pt
ai_engine/*.pt
ai_engine/__pycache__/
runs/
ai_engine/models/fine_tuned_roberta.pt
qdrant_storage
backend/assets/music
backend/assets/musicCovers
/ai_engine/src/data/dataset